<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <body>
    <div class="container">
        <div layout:fragment="content">
            <ul id="shoppingCartList" class="list-group">
              <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
              </li>
            </ul>
        </div>
    </div>
    
    
<th:block layout:fragment="scripts">
    
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(function(){
    var url = /*[[@{/cart/get}]]*/'/cart/get';
	$.get(url).success(function(response){
        var $shoppingCartList = $('#shoppingCartList');
        $.each(response, function(index, orderItem){
        	var $listGroupItem = $('<li class="list-group-item"></li>');
        	$listGroupItem.text(orderItem.productBean.name);
        	
            var $badge = $('<span class="badge"></span>');
            $badge.text(orderItem.quantity);
            
            $listGroupItem.append($badge);
        	$shoppingCartList.append($listGroupItem);
        });
    });

});
/*]]>*/
</script>
</th:block>
  </body>
</html>