<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <body>
    <div class="container">
        <div layout:fragment="content">
            <div class="row"
                 th:unless="${#lists.isEmpty(recommand)}">
                <div class="col-xs-4 col-sm-3 col-md-2"
                     th:each="stock : ${recommand}">
                    <a class="thumbnail" 
                       th:href="@{/p/__${stock.id}__}"
                       th:title="${stock.productBean.name}">
                      <img src="http://placehold.it/400x400" th:alt-title="${stock.productBean.name}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>