<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.pcaie.mapper.MFormMapper">
    
    <insert id="insert" useGeneratedKeys="true">
        INSERT INTO m_form (
            customer_id
        ,   maker
        ,   model
        ,   content
        ,   create_date
        ) VALUES (
            #{customerBean.id}
        ,   #{maker}
        ,   #{model}
        ,   #{content}
        ,   CURRENT_TIMESTAMP
        )
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
    </insert>

</mapper>