<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.pcaie.admin.mapper.MStaffMapper">
    
    <select id="fetchBean" resultType="StaffBean">
        SELECT 
            staff.ID AS id,
            staff.EMAIL AS email,
            staff.PASSWORD AS password,
            staff.NAME AS name,
            staff.ROLE AS role
        FROM
            m_staff staff
        <where>
            <if test="id != null">
            AND staff.id = #{id}
            </if>
            <if test="email != null">
            AND staff.EMAIL = #{email}
            </if>
            AND staff.DEL_FLG = '0'
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true">
        INSERT INTO m_staff (
            email
        ,   password
        ,   NAME
        ,   role
        ) VALUES (
            #{email}
        ,   #{password}
        ,   #{name}
        ,   #{role}
        )
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
    </insert>
    
    <update id="update">
        UPDATE
            m_staff
        <set>
            <if test="email != null">EMAIL = #{email},</if>
            <if test="name != null">NAME = #{name},</if>
            <if test="password != null">PASSWORD = #{password},</if>
            <if test="role != null">ROLE = #{role},</if>
        </set>
        WHERE
            ID = #{id}
    </update>
    
    <select id="count" resultType="int">
        SELECT 
            count(staff.id)
        FROM
            m_staff staff
        <where>
            <if test="email != null">
            AND staff.EMAIL LIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="nickname != null">
            AND staff.NAME LIKE CONCAT('%', #{name}, '%')
            </if>
            AND staff.DEL_FLG = '0'
        </where>
    </select>
    
    <select id="fetchList" resultType="StaffBean">
        SELECT 
            staff.ID AS id,
            staff.EMAIL AS email,
            staff.NAME AS name,
            staff.ROLE AS role
        FROM
            m_staff staff
        <where>
            <if test="email != null">
            AND staff.email LIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="name != null">
            AND staff.NAME LIKE CONCAT('%', #{name}, '%')
            </if>
            AND staff.DEL_FLG = '0'
        </where>
        order by staff.id desc
        limit #{start}, #{pageSize}
    </select>
    
    <update id="delete">
        UPDATE
            m_staff staff
        SET
            staff.DEL_FLG = '1',
            staff.EMAIL = '**********',
            staff.PASSWORD = '**********',
            staff.ROLE = 0
        WHERE
            staff.id = #{id}
    </update>
</mapper>