<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:inline="text">[[#{admin.form.edit}]]</title>
    <link rel="stylesheet" th:href="@{/common/css/form.css}"/>
</head>
<body>
<div class="container">
    <div class="page-header" layout:fragment="header">
        <h1 th:text="#{admin.form.edit}">admin.form.edit</h1>
    </div>
    <div layout:fragment="content">
    <form class="form-horizontal" method="POST"
          action="edit.html" th:action="@{/form/__${formBean.id}__}" >
      <div class="form-group">
          <label for="inputName" class="control-label col-sm-4 col-md-3" >
             <span th:text="#{CustomerBean.name}">CustomerBean.name</span>
          </label>
          <div class="col-sm-4">
             <p class="form-control-static"
                th:text="${formBean.customerBean.name}" >
                formBean.customerBean.name
             </p>
          </div>
      </div>
      <div class="form-group">
          <label for="inputKana" class="control-label col-sm-4 col-md-3" 
                 th:text="#{CustomerBean.kana}">CustomerBean.kana</label>
          <div class="col-sm-4">
               <p class="form-control-static"
                  th:text="${formBean.customerBean.kana}" >
                  formBean.customerBean.kana
               </p>
          </div>
      </div>
      <div class="form-group">
          <label for="inputEmployment" class="control-label col-sm-4 col-md-3" 
                 th:text="#{CustomerBean.employment}">CustomerBean.employment</label>
          <div class="col-sm-4">
               <p class="form-control-static"
                  th:text="${formBean.customerBean.employment}" >
                  formBean.customerBean.employment
               </p>
          </div>
      </div>
      <div class="form-group">
          <label for="inputDepartment" class="control-label col-sm-4 col-md-3" 
                 th:text="#{CustomerBean.department}">CustomerBean.department</label>
          <div class="col-sm-4">
               <p class="form-control-static"
                  th:text="${formBean.customerBean.department}" >
                  formBean.customerBean.department
               </p>
          </div>
      </div>
      
      <div id="contact-by-email" class="form-group">
          <label class=" control-label col-sm-4 col-md-3" 
                 th:text="#{CustomerBean.email}">
                 CustomerBean.email
          </label>
          <div class="col-sm-6">
              <p class="form-control-static"
                 th:text="${formBean.customerBean.email}" >
                 formBean.customerBean.email
              </p>
          </div>
      </div>
      
      <div id="contact-by-tel" class="form-group">
          <label class="control-label col-sm-4 col-md-3" 
                 th:text="#{CustomerBean.tel}">
                 CustomerBean.tel
          </label>
          <div class="col-sm-6">
              <p class="form-control-static"
                 th:text="${formBean.customerBean.tel}" >
                 formBean.customerBean.tel
              </p>
          </div>
      </div>
      
      <hr />
      
      <div class="form-group" id="contact-by">
        <label class="control-label col-sm-4 col-md-3" for="radioContactByEmail"
               th:text="#{FormBean.contactBy}">FormBean.contactBy</label>
        <div class="col-sm-6">
            <label class="radio-inline">
                <input type="radio" 
                       id="radioContactByEmail" name="contactBy" 
                       value="0" th:checked="${formBean.contactBy == 0 }" />
                <span th:text="#{FormBean.contactBy.email}">FormBean.contactBy.email</span> 
            </label>
            <label class="radio-inline">
                <input type="radio" 
                       id="radioContactByTel" name="contactBy" 
                       value="1" th:checked="${formBean.contactBy == 1 }" /> 
                <span th:text="#{FormBean.contactBy.tel}">FormBean.contactBy.tel</span> 
            </label>
        </div>
      </div>
      
      <div class="form-group ">
        <label for="inputMaker" class="control-label col-sm-4 col-md-3" 
               th:text="#{FormBean.maker}">FormBean.maker</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" 
                   id="inputMaker" name="maker"
                   th:placeholder="#{FormBean.maker}"
                   th:value="${formBean.maker}" />
            <span class="help-block help-block-danger"
                th:unless="${#strings.isEmpty(makerError)}"
                th:text="${makerError}">makerError</span>
        </div>
      </div>
      <div class="form-group ">
        <label for="inputModel" class="control-label col-sm-4 col-md-3" 
               th:text="#{FormBean.model}">FormBean.model</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" 
                   id="inputModel" name="model"
                   th:placeholder="#{FormBean.model}"
                   th:value="${formBean.model}" />
            <span class="help-block help-block-danger"
                th:unless="${#strings.isEmpty(modelError)}"
                th:text="${modelError}">modelError</span>
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputContent" class="control-label col-sm-4 col-md-3" 
               th:text="#{FormBean.content}">FormBean.content</label>
        <div class="col-sm-6">
            <textarea class="form-control" rows="10"
                      id="inputContent" name="content"
                      th:placeholder="#{FormBean.content}" 
                      th:text="${formBean.content}" ></textarea>
            <span class="help-block help-block-danger"
                th:unless="${#strings.isEmpty(contentError)}"
                th:text="${contentError}">contentError</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-4 col-md-offset-3">
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;
            <span th:text="#{button.save}">button.save</span>
          </button>
          <a class="btn btn-default"
             href="index.html" th:href="@{/form}">
            <span class="glyphicon glyphicon-remove"></span>&nbsp;
            <span th:text="#{button.cancel}">button.cancel</span> 
          </a>
        </div>
      </div>
    </form>
    </div>
</div>
<th:block layout:fragment="scripts">
<script th:src="@{/common/js/form-required.js}"></script>
</th:block>
</body>
</html>
