<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
    <title th:inline="text">[[#{admin.form}]]</title>
</head>
<body>
<div class="container">
    <div class="page-header" layout:fragment="header">
        <div class="pull-right">
            <a class="btn btn-success"
               href="create.html" th:href="@{/form/create}"
               th:text="#{admin.form.create}">
                admin.form.create
            </a>
        </div>
        <h1 th:text="#{admin.form}">admin.form</h1>
    </div>
    <div layout:fragment="content">
        <form method="GET" class="form-horizontal"
            action="index.html" th:action="@{/form}">
            <div class="form-group">
                <label class="control-label col-sm-4 col-md-3" for="inputMail"
                    th:text="#{CustomerBean.email}">
                    CustomerBean.email
                </label>
                <div class="col-sm-6">
                    <input type="text" id="inputMail" name="email" class="form-control"
                    placeholder="CustomerBean.email" 
                    th:placeholder="#{CustomerBean.email}"
                    th:value="${paginate.params[email]}" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 col-md-3" for="inputName"
                    th:text="#{CustomerBean.name}">
                    CustomerBean.name
                </label>
                <div class="col-sm-4">
                    <input type="text" id="inputName" name="name" class="form-control"
                        placeholder="CustomerBean.name" 
                        th:placeholder="#{CustomerBean.name}"
                        th:value="${paginate.params[name]}" />
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-block btn-default">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;
                        <span th:text="#{button.search}">button.search</span>
                    </button>
                </div>
            </div>
        </form>
        <hr />
        <div th:if="${#lists.isEmpty(paginate.items)}">
            <div class="alert alert-default">
                <p th:text="#{application.nodata}">
                    application.nodata
                </p>
            </div>
        </div>
        <div th:unless="${#lists.isEmpty(paginate.items)}">
            <table class="table table-bordered table-hover">
              <tr>
                <th th:text="#{CustomerBean.name}" style="width:226px;">
                    CustomerBean.name
                </th>
                <th th:text="#{FormBean.createDate}">FormBean.createDate</th>
                <th th:text="#{application.operation}" style="width:226px;" class="text-center">
                    application.operation
                </th>
              </tr>
              <tr th:each="form : ${paginate.items}">
                <td>
                    <a href="edit.html" th:href="@{/form/__${form.id}__}"
                        title="form.customerBean.name"
                        th:title="${form.customerBean.name}"
                        th:text="${form.customerBean.name}">
                        form.customerBean.name
                    </a>
                </td>
                <td th:text="${#dates.format(form.createDate, 'dd/MMM/yyyy HH:mm')}">
                    form.createDate
                </td>
                <td>
                   <a href="edit.html" th:href="@{/form/__${form.id}__}"
                       class="btn btn-sm btn-default">
                       <span class="glyphicon glyphicon-edit"></span>&nbsp;
                        <span th:text="#{button.edit}">button.edit</span>
                   </a>
                </td>
              </tr>
            </table>
            
            <div class="">
                <p th:text="#{paginate.title(${paginate.itemCount}, ${paginate.start + 1}, ${paginate.end + 1})}">
                    paginate.title
                </p>
                <ul class="pagination">
                    <li th:unless="${paginate.first}">
                        <a th:href="@{/form(page=1, email=${paginate.params[email]}, name=${paginate.params[name]})}">
                            <span th:text="#{button.firstpage}">button.firstpage</span>
                        </a>
                    </li>
                    <th:block th:each="i : ${#numbers.sequence(1, paginate.pageCount)}"
                        th:switch="paginate.page">
                        <li th:case="${i + 5}" class="disabled">
                            <span>...</span>
                        </li>
                        <li th:case="${i - 5}" class="disabled">
                            <span>...</span>
                        </li>
	                    <li th:case="*" class="${i == paginate.page} ? 'active'">
	                        <a th:href="@{/form(page=${i}, email=${paginate.params[email]}, name=${paginate.params[name]})}">
	                            <span th:text="${i}">i</span>
	                        </a>
	                    </li>
                    </th:block>
                    <li th:unless="${paginate.last}">
                        <a th:href="@{/form(page=${paginate.pageCount}, email=${paginate.params[email]}, name=${paginate.params[name]})}">
                            <span th:text="#{button.lastpage}">button.lastpage</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
<script type="text/javascript" th:inline="javascript">
$(function(){
    $('.btn-delete-account').click(function(){
        return confirm([[#{admin.form.deleteConfirm}]]);
    });
});
</script>
</th:block>
</body>
</html>
