<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title th:inline="text">
        [[#{user.signup}]]
    </title>
  </head>
<body>
<div class="login-container">
    <div class="page-header" layout:fragment="header">
        <h1 th:text="#{user.signup}">user.signup</h1>
    </div>
    <div layout:fragment="content">
        <form id="signup-form" method="post" class="form"
            action="signup/input.html" th:action="@{/signup}">
            <div class="form-group" 
                th:class="${#strings.isEmpty(emailError)} ? 'form-group' : 'form-group has-error'">
                <label class="control-label" for="inputMail" 
                    th:text="#{UserBean.email}">
                    UserBean.email
                </label>
                <input type="text" id="inputMail" name="email" class="form-control"
                    placeholder="UserBean.email" 
                    th:placeholder="#{UserBean.email}"
                    th:value="${email}"/>
                <span class="help-block"
                    th:text="${emailError}"
                    th:unless="${#strings.isEmpty(emailError)}">emailError</span>
            </div>
            <div class="form-group"
                th:class="${#strings.isEmpty(passwordError)} ? 'form-group' : 'form-group has-error'">
                <label class="control-label" for="inputPassword" th:text="#{UserBean.password}">
                    UserBean.password
                </label>
                <input type="password" id="inputPassword" class="form-control"
                    placeholder="UserBean.password" th:placeholder="#{UserBean.password}"
                     />
                <span class="help-block"
                    th:text="${passwordError}"
                    th:unless="${#strings.isEmpty(passwordError)}">passwordError</span>
            </div>
            <div class="form-group"
                th:class="${#strings.isEmpty(nicknameError)} ? 'form-group' : 'form-group has-error'">
                <label class="control-label" for="inputNickname" th:text="#{UserBean.nickname}">
                    UserBean.nickname
                </label>
                <input type="password" id="inputPassword" class="form-control"
                    placeholder="UserBean.nickname" th:placeholder="#{UserBean.nickname}"
                    th:value="${nickname}" />
                <span class="help-block"
                    th:text="${nicknameError}"
                    th:unless="${#strings.isEmpty(nicknameError)}">nicknameError</span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block btn-large">
                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                    <span th:text="#{user.signup}">user.signup</span>
                </button>
            </div>
        </form>
    </div>
    <hr />
    <div class="page-section">
        <a href="login.html" th:href="@{/login}"
            th:text="#{application.goBack}">
            application.goBack
        </a>
    </div>
</div>
</body>
</html>
