<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
    <title th:inline="text">[[#{application.name}]]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
      th:href="@{/bootstrap-3.1.1/css/bootstrap.min.css}"
      href="../static/bootstrap-3.1.1/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="navbar navbar-default" layout:fragment="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html"
            th:href="@{/}" 
            th:text="#{application.name}">
              application.name
          </a>
        </div>
          <ul class="nav navbar-nav navbar-left"
            th:if="${session.LOGIN_USER}">
            <li>
              <a href="staff/index.html" th:href="@{/staff}"
                th:text="#{admin.staff}">
                admin.staff.manage
              </a>
            </li>
            <li>
              <a href="shop/index.html" th:href="@{/shop}"
                th:text="#{admin.shop}">
                admin.shop.manage
              </a>
            </li>
            <li>
              <a href="customer/index.html" th:href="@{/customer}"
                th:text="#{admin.customer}">
                admin.customer.manage
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li th:unless="${session.LOGIN_USER}">
              <a href="login.html" th:href="@{/login}"
                th:text="#{user.login}">
                user.login
              </a>
            </li>
            <li th:if="${session.LOGIN_USER}">
              <a href="login.html" th:href="@{/logout}"
                th:text="#{user.logout}">
                user.logout
              </a>
            </li>
          </ul>
      </div>
    </div>
    <div class="container">
        <div class="page-header" layout:fragment="header">
            <h1 th:text="#{application.name}">application.name</h1>
        </div>
        <div layout:fragment="content">content</div>
    </div>
    <script th:src="@{/jquery/jquery-2.1.0.min.js}"
        src="../static/jquery/jquery-2.1.0.min.js"></script>
    <script th:src="@{/bootstrap-3.1.1/js/bootstrap.min.js}"
        src="../static/bootstrap-3.1.1/js/bootstrap.min.js"></script>
    <th:block layout:fragment="scripts"></th:block>
  </body>
</html>
