<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.pcaie.admin.mapper.RUserPasswordHistoryMapper">

    <insert id="insert">
        INSERT INTO r_user_password_history (
            user_id
        ,   password
        ,   token
        ,   expire
        ,   add_date
        ) VALUES (
            #{userBean.id}
        ,   #{userBean.password}
        ,   #{token}
        ,   #{expire}
        ,   CURRENT_TIMESTAMP
        )
    </insert>
    
</mapper>