<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.pcaie.mapper.MCustomerMapper">
    
    <select id="fetchBean" resultType="CustomerBean">
        SELECT 
            customer.id         AS `id`,
            customer.name       AS `name`,
            customer.kana       AS `kana`,
            customer.email      AS `email`,
            customer.tel        AS `tel`,
            customer.zip_code   AS `zipCode`,
            customer.address    AS `address`,
            customer.employment AS `employment`,
            customer.department AS `department`
        FROM
            m_customer customer
        <where>
            <if test="id != null">
            AND customer.id = #{id}
            </if>
            <if test="name != null">
            AND customer.name = #{name}
            </if>
            <if test="kana != null">
            AND customer.KANA = #{kana}
            </if>
            <if test="email != null">
            AND customer.EMAIL = #{email}
            </if>
            <if test="tel != null">
            AND customer.TEL = #{tel}
            </if>
            AND customer.DEL_FLG = '0'
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true">
        INSERT INTO m_customer (
            name
        ,   kana
        ,   email
        ,   tel
        ,   zip_code
        ,   address
        ,   employment
        ,   department
        ) VALUES (
            #{name}
        ,   #{kana}
        ,   #{email}
        ,   #{tel}
        ,   #{zipCode}
        ,   #{address}
        ,   #{employment}
        ,   #{department}
        )
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
    </insert>

    <select id="count" resultType="int">
        SELECT 
            count(customer.id)
        FROM
            m_customer customer
        <where>
            <if test="email != null">
            AND customer.email LIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="name != null">
            AND customer.NAME LIKE CONCAT('%', #{name}, '%')
            </if>
            AND customer.DEL_FLG = '0'
        </where>
    </select>
    
    <select id="fetchList" resultType="CustomerBean">
        SELECT 
            customer.id         AS `id`,
            customer.name       AS `name`,
            customer.kana       AS `kana`,
            customer.email      AS `email`,
            customer.tel        AS `tel`,
            customer.zip_code   AS `zipCode`,
            customer.address    AS `address`,
            customer.employment AS `employment`,
            customer.department AS `department`
        FROM
            m_customer customer 
        <where>
            <if test="email != null">
            AND customer.email LIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="name != null">
            AND customer.NAME LIKE CONCAT('%', #{name}, '%')
            </if>
            AND customer.DEL_FLG = '0'
        </where>
        order by customer.id desc
        limit #{start}, #{pageSize}
    </select>
    
    <update id="update">
        UPDATE 
            m_customer customer 
        <set>
            customer.name = #{name},
            customer.kana = #{kana},
            customer.email = #{email},
            customer.tel = #{tel},
            customer.zip_code = #{zipCode},
            customer.address = #{address},
            customer.employment = #{employment},
            customer.department = #{department},
        </set>
        WHERE
            customer.id = #{id}
    </update>
</mapper>