<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.pcaie.mapper.MFormMapper">
    
    <insert id="insert" useGeneratedKeys="true">
        INSERT INTO m_form (
            name
        ,   kana
        ,   contact_by
        ,   email
        ,   tel
        ,   zip_code
        ,   address
        ,   employment
        ,   department
        ,   maker
        ,   model
        ,   content
        ,   create_date
        ) VALUES (
            #{name}
        ,   #{kana}
        ,   #{contactBy}
        ,   #{email}
        ,   #{tel}
        ,   #{zipCode}
        ,   #{address}
        ,   #{employment}
        ,   #{department}
        ,   #{maker}
        ,   #{model}
        ,   #{content}
        ,   CURRENT_TIMESTAMP
        )
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
    </insert>

    
    <select id="count" resultType="int">
        SELECT 
            count(form.id)
        FROM
            m_form form
        <where>
            <if test="email != null">
            AND email LIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="name != null">
            AND NAME LIKE CONCAT('%', #{name}, '%')
            </if>
            AND form.DEL_FLG = '0'
        </where>
    </select>
    
    <select id="fetchList" resultType="FormBean">
        SELECT 
            form.ID             AS `id`,
            name       AS `name`,
            kana       AS `kana`,
            CONTACT_BY AS `contactBy`,
            email      AS `email`,
            tel        AS `tel`,
            zip_code   AS `zipCode`,
            address    AS `address`,
            employment AS `employment`,
            department AS `department`,
            form.MAKER          AS `maker`,
            form.MODEL          AS `model`,
            form.CONTENT        AS `content`,
            form.STATUS         AS `status`,
            form.CREATE_DATE    AS `createDate`
        FROM
            m_form form
        <where>
            <if test="email != null">
            AND email LIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="name != null">
            AND NAME LIKE CONCAT('%', #{name}, '%')
            </if>
            AND form.DEL_FLG = '0'
        </where>
        order by form.id desc
        limit #{start}, #{pageSize}
    </select>
    
    <select id="fetchBean" resultType="FormBean">
        SELECT 
            form.ID             AS `id`,
            name       AS `name`,
            kana       AS `kana`,
            CONTACT_BY AS `contactBy`,
            email      AS `email`,
            tel        AS `tel`,
            zip_code   AS `zipCode`,
            address    AS `address`,
            employment AS `employment`,
            department AS `department`,
            form.MAKER          AS `maker`,
            form.MODEL          AS `model`,
            form.CONTENT        AS `content`,
            form.STATUS         AS `status`,
            form.CREATE_DATE    AS `createDate`
        FROM
            m_form form
        WHERE
            form.id = #{id}
    </select>
    
    <update id="update">
        UPDATE 
            m_form form
        <set>
            form.name = #{name},
            form.kana = #{kana},
            form.CONTACT_BY = #{contactBy},
            form.email = #{email},
            form.tel = #{tel},
            form.zip_code = #{zipCode},
            form.address = #{address},
            form.employment = #{employment},
            form.department = #{department},
            form.maker = #{maker},
            form.model = #{model},
            form.content = #{content},
            form.status = #{status},
        </set>
        WHERE
            form.id = #{id}
    </update>
</mapper>