<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
    <title th:inline="text">[[#{admin.staff}]]</title>
    <style>
        a.role {
            text-decoration: none;
        }
        a.role-normal > span {
            color:#222;
        }
        a.role-admin > span {
            color:#f0ad4e;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header" layout:fragment="header">
        <div class="pull-right">
            <a class="btn btn-success"
               href="create.html" th:href="@{/staff/create}"
               th:text="#{admin.staff.create}">
                admin.staff.create
            </a>
        </div>
        <h1 th:text="#{admin.staff}">admin.staff</h1>
    </div>
    <div layout:fragment="content">
        <form method="GET" class="form-horizontal"
            action="../staff/index.html" th:action="@{/staff}">
            <div class="form-group">
                <label class="control-label col-xs-2" for="inputMail"
                    th:text="#{StaffBean.email}">
                    StaffBean.email
                </label>
                <div class="col-xs-6">
                    <input type="text" id="inputMail" name="email" class="form-control"
                    placeholder="StaffBean.email" 
                    th:placeholder="#{StaffBean.email}"
                    th:value="${paginate.params[email]}" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="inputName"
                    th:text="#{StaffBean.name}">
                    StaffBean.name
                </label>
                <div class="col-xs-4">
                    <input type="text" id="inputName" name="name" class="form-control"
                        placeholder="StaffBean.name" 
                        th:placeholder="#{StaffBean.name}"
                        th:value="${paginate.params[name]}" />
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-block btn-default">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;
                        <span th:text="#{button.search}">button.search</span>
                    </button>
                </div>
            </div>
        </form>
        <hr />
        <div th:if="${#lists.isEmpty(paginate.items)}">
            <div class="alert alert-default">
                <p th:text="#{application.nodata}">application.nodata</p>
            </div>
        </div>
        <div th:unless="${#lists.isEmpty(paginate.items)}">
            <table class="table table-bordered table-hover">
              <tr>
                <th th:text="#{StaffBean.name}" style="width:226px;">
                    StaffBean.name
                </th>
                <th th:text="#{StaffBean.email}">StaffBean.email</th>
                <th th:text="#{application.operation}" style="width:226px;" class="text-center">
                    application.operation
                </th>
              </tr>
              <tr th:each="staff : ${paginate.items}">
                <td>
                    <th:block th:switch="${staff.role}">
                      <a th:case="0" th:title="#{user.role.normal}" class="role role-normal">
                        <span class="glyphicon glyphicon-user" ></span>
                      </a>
                      <a th:case="1" th:title="#{user.role.admin}" class="role role-admin">
                        <span class="glyphicon glyphicon-certificate" ></span>
                      </a>
                    </th:block>
                    <a href="edit.html" th:href="@{/staff/__${staff.id}__}"
                        title="staff.name"
                        th:title="${staff.name}"
                        th:text="${staff.name}">
                        staff.name
                    </a>
                </td>
                <td th:text="${staff.email}">staff.email</td>
                <td>
                   <a href="edit.html" th:href="@{/staff/__${staff.id}__}"
                       class="btn btn-sm btn-default">
                       <span class="glyphicon glyphicon-edit"></span>&nbsp;
                        <span th:text="#{button.edit}">button.edit</span>
                   </a>
                   <a href="delete.html" th:href="@{/staff/__${staff.id}__/delete}"
                      class="btn btn-sm btn-danger btn-delete-account"
                      th:unless="${staff.id == session.LOGIN_USER.id}">
                       <span class="glyphicon glyphicon-trash"></span>&nbsp;
                       <span th:text="#{button.remove}">button.remove</span>
                   </a>
                </td>
              </tr>
            </table>
            
            <div class="">
                <p th:text="#{paginate.title(${paginate.itemCount}, ${paginate.start + 1}, ${paginate.end + 1})}">
                    paginate.title
                </p>
                <ul class="pagination">
                    <li th:unless="${paginate.first}">
                        <a th:href="@{/staff(page=1, email=${paginate.params[email]}, name=${paginate.params[name]})}">
                            <span th:text="#{button.firstpage}">button.firstpage</span>
                        </a>
                    </li>
                    <th:block th:each="i : ${#numbers.sequence(1, paginate.pageCount)}"
                        th:switch="paginate.page">
                        <li th:case="${i + 5}" class="disabled">
                            <span>...</span>
                        </li>
                        <li th:case="${i - 5}" class="disabled">
                            <span>...</span>
                        </li>
	                    <li th:case="*" class="${i == paginate.page} ? 'active'">
	                        <a th:href="@{/staff(page=${i}, email=${paginate.params[email]}, name=${paginate.params[name]})}">
	                            <span th:text="${i}">i</span>
	                        </a>
	                    </li>
                    </th:block>
                    <li th:unless="${paginate.last}">
                        <a th:href="@{/staff(page=${paginate.pageCount}, email=${paginate.params[email]}, name=${paginate.params.[name]})}">
                            <span th:text="#{button.lastpage}">button.lastpage</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
<script type="text/javascript" th:inline="javascript">
$(function(){
    $('.btn-delete-account').click(function(){
        return confirm([[#{admin.staff.deleteConfirm}]]);
    });
});
</script>
</th:block>
</body>
</html>
